<?php
/**
 * @var $field magic_form_field
 */
?>
<?php if($field->has_errors()): ?>
  <div class="errors">
    <ul>
      <?php foreach($field->get_errors() as $error): ?>
        <li><?php echo $error; ?></li>
      <?php endforeach; ?>
    </ul>
  </div>
<?php endif; ?>