<div class="form_row form_button field-<?php echo magic_forms_mangle_to_css_class($field->get_name()); ?> <?php echo $field->get_classes('form_row_'); ?>">
  <div class="widget">
    <input
      type="button"
      name="<?php echo $field->get_name(); ?>"
      value="<?php echo $field->get_label() ?>"
      class="<?php echo $field->get_classes(); ?>"
      <?php if ($field->is_disabled()): ?>
        disabled="disabled"
      <?php endif; ?>
      />
  </div>
  <?php require "form.errors.phtml"; ?>
  <div class="clear"></div>
</div>